:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bgc: linear-gradient(145deg, rgba(100, 153, 255, 1) 0%, rgb(188, 144, 209) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bgc);
}
